.code-journal {
  color: white;
}

body {
  background-color: rgb(240, 240, 240);
}

header {
  background-color: rgb(85, 43, 129);
}

h1 {
  font-family: Poppins, sans-serif;
}

img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

input {
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
}

input:focus {
  border: rgb(84, 43, 127);
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.7rem;
}

button {
  font-family: Poppins, sans-serif;
  margin: 25px auto;
  padding: 5px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px none lightgray;
  background-color: rgb(84, 43, 127);
  color: white;
}

.big-button:active {
  box-shadow: 0 0 3px black;
}

.big-button:hover {
  color: gainsboro;
  box-shadow: 0 0 4px red;
}

.bottom {
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.column-half.right {
  margin-top: -28px;
}

textarea {
  padding-left: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 1em;
  padding-right: 1em;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
}

textarea:focus {
  border: rgb(85, 43, 128);
}

li {
  margin: 5px 0;
}

div > h2 {
  font-size: 1.5rem;
}

p {
  font-family: Montserrat, sans-serif;
  line-height: 1.75rem;
  margin-top: -2%;
}

.view.hidden {
  visibility: hidden;
}

.container.entries {
  background-color: rgb(85, 43, 129);
}

.entry.button {
  text-align: right;
}

span {
  margin-left: 10px;
}

ul {
  margin-left: -9%;
}

.entry-anchor:hover {
  color: gainsboro;
}

.edit-button {
  text-align: right;
  margin-top: -15%;
}

div > .edit {
  background-color: rgb(240, 240, 240);
}

.fa-solid.fa-pencil {
  color: rgb(84, 23, 128);
}

.fa-pencil:hover {
  color: darkgray;
}

.delete-button {
  text-decoration: underline;
  color: red;
}

.delete-button.hidden {
  visibility: hidden;
}

.modal-container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50%);
}

.modal {
  background-color: white;
  height: 20%;
  text-align: center;
  margin-top: 25%;
}

.modal-buttons {
  margin: auto;
}

.confirm-delete {
  background-color: red;
}

.cancel-delete {
  background-color: darkgray;
  color: black;
}

.confirm-delete:hover {
  background-color: black;
  color: white;
}
