.code-journal {
  color: white;
}

body {
  background-color: rgb(240, 240, 240);
}

header {
  background-color: rgb(85, 43, 129);
}

h1 {
  font-family: Poppins, sans-serif;
}

img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

input {
  width: 100%;
  padding: 1em;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
}

input:focus {
  border: rgb(84, 43, 127);
}

h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

button {
  font-family: Poppins, sans-serif;
  margin: 25px auto;
  padding: 5px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px none lightgray;
  background-color: rgb(84, 43, 127);
  color: white;
}

button:active {
  box-shadow: 0 0 3px black;
}

.column-full.bottom {
  text-align: right;
  margin-top: 15%;
}

.column-half.right {
  margin-top: -28px;
}

textarea {
  padding-left: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 1em;
  padding-right: 1em;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
}

textarea:focus {
  border: rgb(85, 43, 128);
}

li {
  margin: 10px 0;
}

section > h2 {
  font-size: 1.5rem;
}

p {
  font-family: Montserrat, sans-serif;
  line-height: 1.75rem;
}
